extends layout.pug

block title 
    title Unscrabble | Anagrams for "#{letters}"

block nav
    a.float-left(
        href="https://github.com/AhamSammich/unscrabble"
        target="_blank"
        ) 
        img(
            src="./images/logos/GitHub-Mark-64px.png" alt="GitHub" 
            target="_blank" style="height: 30px; width: 30px;"
            )
    a.float-right(
        href="/" target="_self"
        ) #{results.length} results found. Try again?

block header
    .tile-set.flex-row
        each char in letters 
            .tile(
                style=`background-image: url('./images/tiles/${
                    char.toLowerCase()}.png'); background-size: cover;`
            )
    
block main
    main(data-array=results.join())
        each word in results 
            .flex-col.flex-center(id=word, style="justify-content: flex-start")
                h2(data-class='word')= word 
        //- each obj in results 
        //-     .flex-col.flex-center(style="justify-content: flex-start")
        //-         h2= obj.word 
                //- p(style="font-style: italic;")= obj.label 
                //- ul.flex-col 
                //-     each entry in obj.def 
                //-         li= entry

block script 
    script(src="./js/api.js", defer)
