extends layout.pug

block title 
    title Unscrabble | Anagrams for "#{letters}"

block nav
    a(href="https://github.com/AhamSammich/unscrabble") 
    img.float-left(
        src="./images/logos/GitHub-Mark-64px.png" alt="GitHub" 
        target="_blank" style="height: 30px; width: 30px;"
        )
    a.float-right(
        href="/" target="_self"
        ) #{results.length} results found. Try again?

block header
    section.tile-set.flex-row
        each char in letters 
            .tile(
                style=`background-image: url('./images/tiles/${
                    char.toLowerCase()}.png'); background-size: cover;`
            )
    
block main
    main
        each obj in results 
            .flex-col.flex-center(style="justify-content: flex-start")
                h2= obj.word 
                p(style="font-style: italic;")= obj.pos 
                ul.flex-col 
                    each entry in obj.def 
                        li= entry
