extends layout.pug

block title 
    title Unscrabble | Anagrams for "#{letters}"

block script 
    script(src="./js/define.js" defer)

block nav
    .flex-row.flex-even(style="width: 100%; margin: 0; justify-content: space-between")
        a(href="/" target="_self")
            img(
                src="./images/logos/back-64px.png" alt="go back" 
                target="_self" style="height: 35px; width: 35px;"
                )
        .flex-col.flex-center(style="margin: 0;")
            h3 #{results.length} results found.
            p(style="font-weight: normal; font-style: italic;") Click a word to see definition.
        a(href="https://github.com/AhamSammich/unscrabble" target="_blank") 
            img(
                src="./images/logos/GitHub-Mark-64px.png" alt="GitHub" 
                target="_blank" style="height: 35px; width: 35px;"
                )

block header
    .tile-set.flex-row(style="margin-top: 1rem;")
        each char in letters 
            .tile(
                style=`background-image: url('./images/tiles/${
                    char.toLowerCase()}.png'); background-size: cover;`
            )
    if results.length
        p(
            id="define-all" 
            style="text-decoration: underline; font-style: italic; cursor: pointer;"
            ) Click here to define all words.
    
block main
    main(data-array=results.join())
        each word in results 
            .flex-col.flex-center.fade-in(id=word style="justify-content: flex-start;")
                h2(data-id=word data-class='word')= word

block footer  
    .flex-row(style="height: fit-content; position: relative; bottom: 0; padding-top: 2rem; margin: 0 auto;")
        if results.length > 50
            a(href="#" style="font-size: larger; margin-top: 1rem;") Back to top